
.inner__inner{
 margin: auto;
 width: 420px;
 height: 450px;
 background: #fff;
 padding: 7px;
 padding-left: 20px;
 box-shadow: 0px 0px 10px 1px gray;
 border-radius: 10px;
 margin-top: 20px;
}
.loginn{
    padding-left: 340px;
    padding-top: 10px;
    font-size: 30px;
}
.p{
    color: gray;
}
.inp__loginn{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: solid 1px gray;
    font-size: 26px;
    padding-left: 20px;

}
.hoja{
    width: 90%;
    height: 40px;
    color: #fff;
    font-size: 16px;
    background: var(--bg-py);
    margin-top: 20px;
    border: none;
    border-radius: 10px;
}
@media screen and (max-width: 900px) {
    .inner__inner{
        width: 320px;
        height: 270px;
        margin-top: 50px;
    }
    .pre{
        display: none;
    }
    .loginn{
        padding-left: 250px;
        padding-top: 10px;
        font-size: 20px;
    }
    .gg{
        font-size: 18px;
    }
    .p{
        font-size: 13px;
    }
    .inp__loginn{
        width: 80%;
        height: 30px;
        font-size: 18px;
        padding-left: 30px;
    
    }
    .hoja{
        width: 80%;
        height: 30px;
    }
}
